﻿@model Lobby.Models.BackgammonViewModel

@{
    ViewBag.Title = "Backgammon";

    Layout = null;
    string token = ViewBag.token;
    string roomID = ViewBag.roomid;
}

<html>
<head>
    <title></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1  user-scalable=0">

    @Styles.Render("~/style/game")
    <script src="@(Url.Action("Translations", "Lobby"))?v=@DateTime.Now.Ticks" type="text/javascript"></script>
    @Scripts.Render("~/bundles/game")
    @Scripts.Render("~/bundles/backgammon")

    <script>
        var signalRUrl = '@Model.SignalRUrl';
    </script>

</head>
<body>
    <script>

		var lobby_url   = '@Url.Action("Lobby", "Lobby")' + '?token=';
        var mobile_url  = '@Url.Action("MobileLobby", "Lobby")' + '?token=';
        var  problem_url = '@Url.Action("ProblemDetected", "Lobby")' + '?token=';
    </script>
    <div id="data-container" data-token="@token" data-room="@roomID" style="display: none;">
        <img src="~/Content/Images/nardiLogo.png">
        <img src="~/Content/Images/Loadingbg.jpg">
    </div>


    <input style="display: none; position:absolute; padding-left: 10px; outline:none !important;" class="popup_input" id="password" type="password" placeholder="">

    <canvas oncontextmenu="return false;" id="main-board" width="1950" height="1300"></canvas>

    <textarea id="problem-text" style=" display:none; position: absolute; top:462px; left: 177px; " placeholder="გთხოვთ აღწეროთ პრობლემა"></textarea>

    <div id="Chat-content" style="display: none;">
        <div id="chat-header"></div>
        <div id="chat-footer">
            <input id="chatInput" style="background: none;  outline: none;" placeholder="Enter your text here..." type="text" name="name" value="" />
        </div>
    </div>




</body>
</html>


