﻿@model Lobby.Models.LobbyViewModel

@{
    ViewBag.Title = "Lobby";
    Layout = null;
    string token = (string)ViewBag.token;
}

<!DOCTYPE html>
<html>
<head>
    <title>Nardi.ge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/style/lobby")
    <script src="@(Url.Action("Translations", "Lobby"))?v=@DateTime.Now.Ticks" type="text/javascript"></script>
    @Scripts.Render("~/bundles/lobby")

    <script>
        var signalRUrl = '@Model.SignalRUrl';
        var create_game_url = '@Model.CreateRoomUrl';
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111601260-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111601260-1');
    </script>

</head>
<body>

    <script>

         var game_link = '@Url.Action("Backgammon", "Lobby")' + '?token=';
        var tournament_link = '@Url.Action("Tournament", "Lobby")' + '?token=';
        var history_link = '@Url.Action("History", "Lobby")' + '?token=';

    </script>
    <header>
        <div id="TurnRegModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <span class="translator" data-translate="active_tournaments">ტურნირზე რეგისტრაცია</span>
                    </div>
                    <div class="modal-body">

                        <div class="turnreg-text text-center">
                            <p>
                                <font class="translator" data-translate="tournament_reg_text"> ნამდვილად გნებავთ რეგისტრაცია ტურნირზე </font> <br />
                                <font id="reg-tournament-name" class="whiteColor"></font> ?
                            </p>
                            <p class="whiteColor">
                                <font class="translator" data-translate="cash"> რეალური ფული</font>:
                                <span id="reg-popup-amount" class="yellowColor">3.00</span> <font class='GEL'>b</font>
                            </p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="modafoot-buttons">
                                    <button type="button" class="btn btn-primary register-modal translator" data-translate="accept">
                                        თანხმობა
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="modafoot-buttons">
                                    <button type="button" id="close-reg-modal" active_tournaments class="btn btn-danger translator" data-translate="cancel">
                                        გაუქმება
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- register Modal End -->
        <!-- leave tournir Modal End -->
        <div id="TurnLeaveModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <span class="translator" data-translate="tournament_leave">ტურნირის დატოვება</span>
                    </div>
                    <div class="modal-body">

                        <div class="turnreg-text text-center">

                            <p>
                                <font class="translator" data-translate="tournament_unreg_text"> ნამდვილად გნებავთ რომ  დატოვოთ ტურნირი  </font> <br />
                                <font id="unreg-tournament-name" class="whiteColor"></font> ?

                            </p>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="modafoot-buttons">
                                    <button type="button" class="btn btn-primary unregister-modal translator" data-translate="accept">
                                        თანხმობა
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="modafoot-buttons">
                                    <button type="button" id="close-unreg-modal" class="btn btn-danger translator" data-translate="cancel">
                                        გაუქმება
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- leave tournir Modal End -->
        <!-- Modal Rank Up -->
        <div id="rankUpModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <span class="translator" data-translate="status_points">სტატუსის მომატება</span>
                    </div>
                    <div class="modal-body">

                        <div class="text-center">

                            <ul class="rankup_main">

                                <li id="rank-1" class="rank_done">
                                    <span class="rank_line"></span>
                                    <div class="rankup_star">
                                        <span id="rank-count-1">1</span>
                                    </div>
                                </li>

                                <li id="rank-2" class="rank_done">
                                    <span class="rank_line"></span>
                                    <div class="rankup_star">
                                        <span id="rank-count-2">2</span>
                                    </div>
                                </li>

                                <li id="rank-3" class="rank_active">
                                    <span class="rank_line"></span>
                                    <div class="rankup_star">
                                        <span id="rank-count-3">3</span>
                                    </div>
                                </li>

                                <li id="rank-4" class="">
                                    <span class="rank_line"></span>
                                    <div class="rankup_star">
                                        <span id="rank-count-4">4</span>
                                    </div>
                                </li>

                                <li id="rank-5" class="">
                                    <span class="rank_line"></span>
                                    <div class="rankup_star">
                                        <span id="rank-count-5">5</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="modal-footer rankup_footer">
                        <button id="rank-button" type="button" class="btn btn-primary">
                            <font id="rank-button-text"> <font id="rank-increase-fee">82000</font> <font class="translator" data-translate="coin">მონეტა</font> </font>
                            <img src="~/Content/lobby/icon_rankup.png" alt="">
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal END-->
        <!-- Modal system error -->
        <div id="system-error" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <span class="yellowColor translator" data-translate="attention">ყურადღება!</span>
                    </div>
                    <div class="modal-body">

                        <div class="text-center"> 
                            <div class="group-15 redColor translate_title" id="create-room-reason"></div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- Modal END-->
        <!-- Modal system error -->
        <div id="system-error-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <span class="yellowColor translator" data-translate="attention">ყურადღება!</span>
                    </div>
                    <div class="modal-body">

                        <div class="text-center">
                            <div class="group-15 translate_title" id="error-modal-message"></div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- Modal END-->
        <!-- active tournir Modal End -->
        <div id="TournActiveModal" class="modal fade" role="dialog">
            <div class="modal-dialog acttournmod">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <span class="translator" data-translate="tournament">ტურნირი</span>
                    </div>
                    <div class="modal-body">

                        <div class="turnreg-text text-center">

                            <p>
                                <font class="translator" data-translate="active_tournament_join">   ყურადღება! თქვენი ტურნირი </font>
                                <br>
                                <span><font class="translator" data-translate="active"> აქტიურია</font> !</span>
                            </p>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="modafoot-buttons">
                                    <button type="button" class="btn btn-primary tournament-activate translator" data-translate="join1">
                                        შესვლა
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="lobby_head1">

            <div class="lobby_head2">
                <a class="logo"></a>
            </div>

            <div class="lobby_head3">
                <ul class="topmenu">
                    <li>
                        <a id="game_tab" class="menu_tabs active">
                            <span class="menuicon1"></span>
                            <font class="translator" data-translate="cash"> ქეში </font>
                        </a>
                    </li>
                    <li>
                        <a id="tournament_tab" class="menu_tabs">
                            <span class="menuicon2"></span>
                            <font class="translator" data-translate="tournaments"> ტურნირები</font>
                        </a>
                    </li>
                    <li>
                        <a id="achievement_tab" class="menu_tabs">
                            <span class="menuicon3"></span>
                            <font class="translator" data-translate="missions"> მისიები</font>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="lobby_head4">
                <div class="userdiv1">
                    <div class="user_image">
                        <span class="rank_star" id="user-rank">1</span>
                    </div>
                    <div class="user_nickname">
                        <div id="user_nick">player</div>
                        <button class="btn translator" id="rank-increase" data-translate="status_points">სტატუსის მომატება</button>
                    </div>
                </div>
                <div class="settings_btn">
                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img id="lang_flag" class="flag_image" src="~/Content/img/ka_ge.svg">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu flag_drop_down">
                            <li data-value=0><a><img id="flag0" class="flag_image" src="~/Content/img/ka_ge.svg"></a></li>
                            <li data-value=1><a><img id="flag1" class="flag_image" src="~/Content/img/en_us.svg"></a></li>
                            <li data-value=2><a><img id="flag2" class="flag_image" src="~/Content/img/ru_ru.svg"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </header>


    <div class="mainbody1">

        <div class="lobby_leftside">


            <!--  tournament - info details-->
            <div class="details_maindiv" style="display:none;" id="tournament_info_panel">
                <div class="detail_tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#DetailsTab1" class="translator" data-translate="information">ინფორმაცია</a></li>
                        <li><a data-toggle="tab" href="#DetailsTab2" class="translator" data-translate="structure">სტრუქტურა</a></li>
                        <li><a data-toggle="tab" href="#DetailsTab3" class="translator" data-translate="timeline">თაიმლაინი</a></li>
                    </ul>
                    <a class="close_details">
                        <font class="translator" data-translate="close"> დახურვა</font>
                        <i class="fa fa-times"></i>
                    </a>
                </div>

                <div class="tab-content">
                    <div id="DetailsTab1" class="tab-pane fade in active">
                        <div class="dtl_wrapper">

                            <div class="tournament_info1">
                                <div class="tournament_info2">
                                    <div class="tournament_info3">
                                        <ul class="tournament_prizes">
                                            <li id="tour_prize_1">100 <font class='GEL'>b</font></li>
                                            <li id="tour_prize_0">100 <font class='GEL'>b</font></li>
                                            <li id="tour_prize_2">100 <font class='GEL'>b</font></li>
                                        </ul>
                                    </div>
                                    <div class="tournament_info4">
                                        <div>
                                            <div class="trnm_info1"> <font class="translator" data-translate="tournament_name">ტურნირის სახელი</font>:</div>
                                            <div class="trnm_info2" id="tour_detail_name">--</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <div class="trnm_info1"><font class="translator" data-translate="start_date">დაწყების თარიღი</font>:</div>
                                            <div class="trnm_info2" id="tour_detail_date">17.12.2017 00:00</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <div class="trnm_info1"><font class="translator" data-translate="tournament_version">ტურნირის ტიპი</font>:</div>
                                            <div class="trnm_info2 translator" id="tour_detail_type" data-translate="georgian">ქართული</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <div class="trnm_info1"><font class="translator" data-translate="min_members">მინ. რაოდენობა</font>:</div>
                                            <div class="trnm_info2" id="tour_min_players_count">16</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <div class="trnm_info1"><font class="translator" data-translate="members">მონაწილეები</font>:</div>
                                            <div class="trnm_info2" id="tour_detail_players_count">0 / 2048</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <div class="trnm_info1"><font class="translator" data-translate="prize">საპრიზო ფონდი</font>:</div>
                                            <div class="trnm_info2">
                                                <span class="yellowColor" id="tour_detail_prize">1<font class='GEL'>b</font></span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <div class="tourn_regbutton">
                                        <button id="active_tournament_register" style="display:block;" class="btn btn-primary btn-lg active_tournament_button tour-register register">
                                            <span><font class="translator" data-translate="registration"> რეგისტრაცია</font> -</span>
                                            <span id="active_tournament_fee">20:00 <font class='GEL'>b</font></span>
                                        </button>
                                        <button id="active_tournament_unregister" class="btn btn-danger btn-lg active_tournament_button tour-register unregister">
                                            <span class="translator" data-translate="cancel_registration">რეგისტრაციის გაუქმება</span>
                                        </button>

                                        <button id="active_tournament_finish" class="btn btn-success btn-lg  active_tournament_button" disabled>
                                            <span class="translator" data-translate="ended">დასრულებული</span>
                                        </button>

                                        <button id="active_tournament_continue" class="btn btn-success btn-lg active_tournament_button" disabled>
                                            <span class="translator" data-translate="ongoing">მიმდინარე</span>
                                        </button>
                                    </div>

                                    <div style="display:none" class="timeleft_div">
                                        <div class="timeleft">
                                            <small class="translator" data-translate="remaining">დარჩენილია</small>
                                            <div class="yellowColor" id="active_tour_time_wait">
                                                8 დღე, 08:35:45
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display:none" class="timelapsed_div">
                                        <div class="timeleft">
                                            <small class="translator" data-translate="time_passed">გასული დრო</small>
                                            <div class="whiteColor" id="active_tour_time_passed">
                                                0 დღე, 00:00:00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div>
                                <div class="players_schd_tabs">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#Full_schedule" class="translator" data-translate="full_list">ერთიანი სია</a></li>
                                        <li><a data-toggle="tab" href="#MyPosition" class="translator" data-translate="my_position">ჩემი პოზიცია</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">

                                    <!--START OF FULL SCHEDULE-->
                                    <div id="Full_schedule" class="tab-pane fade in active">
                                        <div class="table_csroll_div1">
                                            <div class="table_csroll_div2 scroller">
                                                <table class="table tourn_players_table">
                                                    <thead>
                                                        <tr>
                                                            <th>N</th>
                                                            <th class="translator" data-translate="player">მოთამაშე</th>
                                                            <th class="translator" data-translate="status">სტატუსი</th>
                                                            <th class="text-center translator" data-translate="winning">მოგება</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="table_csroll_div1">
                                            <div class="table_csroll_div3 scroller">
                                                <table class="table tourn_players_table">
                                                    <tbody id="tournament_players_list"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!--END OF FULL SCHEDULE-->
                                    <!--START OF MY POSITION-->
                                    <div id="MyPosition" class="tab-pane fade">
                                        <div class="table_csroll_div1">
                                            <div class="table_csroll_div2 scroller">
                                                <table class="table tourn_players_table">
                                                    <thead>
                                                        <tr>
                                                            <th>N</th>
                                                            <th class="translator" data-translate="player">მოთამაშე</th>
                                                            <th class="translator" data-translate="status">სტატუსი</th>
                                                            <th class="text-center translator" data-translate="money">მოგება</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="table_csroll_div1">
                                            <div class="table_csroll_div3 scroller">
                                                <table class="table tourn_players_table">
                                                    <tbody id="tournament_my_position"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!--END OF MY POSITION-->

                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="DetailsTab2" class="tab-pane fade">
                        <div class="dtl_wrapper">

                            <div class="table_csroll_div1">
                                <div class="table_csroll_div2_2">
                                    <table class="table tourn_structure_table ">
                                        <thead>
                                            <tr>
                                                <th class="translator" data-translate="position">პოზიცია</th>
                                                <!--  <th class="translator" data-translate="ticket">ბილეთი</th>-->
                                                <th class="text-center translator" data-translate="prize">პრიზი</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="table_csroll_div1">
                                <div class="table_csroll_div3_2 scroller">
                                    <table class="table tourn_structure_table">
                                        <tbody id="prize_list_structure"></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="DetailsTab3" class="tab-pane fade">
                        <div class="dtl_wrapper">

                            <div class="tourn_timeline_tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active" id="draw_table_tournament">
                                        <a data-toggle="tab" href="#DrawTable">
                                            <i class="fa fa-sitemap"></i>
                                            draw
                                        </a>
                                    </li>
                                    <li id="list_table_tournament">
                                        <a data-toggle="tab" href="#ListTable">
                                            <i class="fa fa-list-ul"></i>
                                            <font class="translator" data-translate="list">სია </font>
                                        </a>
                                    </li>
                                    <li class="draw_arrows">
                                        <a class="moveListLeft"><i class="fa fa-chevron-left moveListLeft"></i></a>
                                        <a class="moveListRight"><i class="fa fa-chevron-right moveListRight"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">

                                <div id="DrawTable" class="tab-pane fade in active">

                                    <div class="tourn_draw_div1">
                                        <div class="tourn_draw_div2 scroller">

                                            <div class="tourn_draw_div3">

                                                <ul class="tournament_draw" data-index="1" id="tournament_stairs"></ul>
                                                <div class="clearfix"></div>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div id="ListTable" class="tab-pane fade">

                                    <div class="table_csroll_div1">
                                        <div class="table_csroll_div2_3">
                                            <table class="table timeline_list_table">
                                                <thead>
                                                    <tr>
                                                        <th class="translator" data-translate="round">რაუნდი</th>
                                                        <th class="text-right"><font class="translator" data-translate="player">მოთამაშე</font>1</th>
                                                        <th class="text-center translator" data-translate="result">შედეგი</th>
                                                        <th><font class="translator" data-translate="player">მოთამაშე</font>2</th>
                                                        <th class="translator" data-translate="status">სტატუსი</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table_csroll_div1">
                                        <div class="table_csroll_div3_3 scroller">
                                            <table class="table timeline_list_table">
                                                <tbody id="matches_list"></tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <!--  tournament - info details-->
            <div class="cash_maindiv">

                <div class="game-history-container" style="display:none">

                    <div class="cash_filters1">

                        <div class="cash_filters2">
                            <label class="translator" data-translate="bid">ფსონი</label>
                            <div class="cash_filt1 dropdown">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <font id="history-min-bet">0.00 </font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" id="history-min-dropdown">
                                    <li><a>0.00</a></li>
                                    <li><a>0.05</a></li>
                                    <li><a>0.5</a></li>
                                    <li><a>10</a></li>
                                    <li><a>50</a></li>
                                    <li><a>100</a></li>
                                    <li><a>500</a></li>
                                </ul>
                            </div>
                            <div class="cash_filt1 dropdown">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <font id="history-max-bet">500 </font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" id="history-max-dropdown">
                                    <li><a>0.00</a></li>
                                    <li><a>0.05</a></li>
                                    <li><a>0.5</a></li>
                                    <li><a>10</a></li>
                                    <li><a>50</a></li>
                                    <li><a>100</a></li>
                                    <li><a>500</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="cash_filters2">
                            <label class="translator" data-translate="result">შედეგი</label>
                            <div class="cash_filt1 cash_filt2 dropdown">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <font id="history-type-value" data-value=-1 class="translator" data-translate="all">ყველა</font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" id="history-type-dropdown">
                                    <li><a data-value=-1 class="translator" data-translate="all">ყველა</a></li>
                                    <li><a data-value=true class="translator" data-translate="winning">მოგებული</a></li>
                                    <li><a data-value=false class="translator" data-translate="lose">წაგებული</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!--CXRILIS DASAWKISI-->
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="tdsize-1">ID</th>
                                    <th class="tdsize-14 translator" data-translate="date">თარიღი</th>
                                    <th class="translator" data-translate="opponent">მოწინააღმდეგე</th>
                                    <th class="tdsize-13 translator" data-translate="type">ტიპი</th>
                                    <th class="tdsize-5 translator" data-translate="bid">ფსონი <font class='GEL'>b</font></th>
                                    <th class="tdsize-13 translator" data-translate="score">ანგარიში</th>
                                    <th class="tdsize-13 translator" data-translate="result">შედეგი</th>
                                    <th class="tdsize-13 translator" data-translate="money">მოგება</th>
                                    <th class="tdsize-15"></th>
                                    <th class="tdsize-8 translator" data-translate="watch">ყურება</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="games_table_scroll1">
                        <div class="games_table_scroll2 scroller">
                            <table class="table">
                                <tbody id="game-history-container"></tbody>
                            </table>
                        </div>

                    </div>
                    <!--CXRILIS DASASRULI-->

                </div>


                <div class="achievement-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="msnsize-1 translator" data-translate="mission_name">მისიის დასახელება</th>
                                <th class="msnsize-2 translator" data-translate="required_status">
                                    საჭირო სტატუსი
                                </th>
                                <th class="msnsize-3  translator" data-translate="coin">
                                    მონეტა
                                </th>
                                <th class="msnsize-4 translator" data-translate="progress">
                                    პროგრესი
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="games_table_scroll1 scrollsize2 achievement-container">
                    <div class="games_table_scroll2 scroller scrollsize2">
                        <table class="table">
                            <tbody id="achievement-table"></tbody>
                        </table>
                    </div>

                </div>

                <div class="tournament-container" id="tournament-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="tdsize-9 translator" data-translate="date">თარიღი</th>
                                <th class="translator" data-translate="name">სახელი</th>
                                <th class="tdsize-11 translator" data-translate="type">ტიპი</th>
                                <th class="tdsize-11 translator" data-translate="buy_in">ბაი-ინი</th>
                                <th class="tdsize-11 translator" data-translate="prize">პრიზი</th>
                                <th class="tdsize-10 translator" data-translate="status">სტატუსი</th>
                                <th class="tdsize-11 translator" data-translate="members">წევრები</th>
                                <th class="tdsize-12 translator" data-translate="details">დეტალები</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="games_table_scroll1 scrollsize2 tournament-container">
                    <div class="games_table_scroll2 scroller scrollsize2">
                        <table class="table">
                            <tbody id="tournamets-table"></tbody>
                        </table>
                    </div>

                </div>

                <div class="cash_filters1 game-container">

                    <div class="cash_filters2">
                        <label class="translator" data-translate="bid">ფსონი</label>
                        <div class="cash_filt1 dropdown">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <font id="bet-check-value"> 0.05</font>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" id="bet-check">
                                <li><a data-value="0.05">0.05</a></li>
                                <li><a data-value="0.5">0.5</a></li>
                                <li><a data-value="1">1</a></li>
                                <li><a data-value="5">5</a></li>
                                <li><a data-value="10">10</a></li>
                                <li><a data-value="50">50</a></li>
                                <li><a data-value="100">100</a></li>
                                <li><a data-value="500">500</a></li>
                            </ul>
                        </div>
                        <div class="cash_filt1 dropdown">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <font id="bet-check-max-value">500</font>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" id="bet-check-max">
                                <li><a data-value="0.05">0.05</a></li>
                                <li><a data-value="0.5">0.5</a></li>
                                <li><a data-value="1">1</a></li>
                                <li><a data-value="5">5</a></li>
                                <li><a data-value="10">10</a></li>
                                <li><a data-value="50">50</a></li>
                                <li><a data-value="100">100</a></li>
                                <li><a data-value="500">500</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="cash_filters2">
                        <label class="translator" data-translate="type">ტიპი</label>
                        <div class="cash_filt1 cash_filt2 dropdown">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <font id="filter-type" data-value="0" class="translator" data-translate="all">ყველა </font>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu  filter-type">
                                <li><a data-value="0" class="translator" data-translate="all">ყველა</a></li>
                                <li><a data-value="2" class="translator" data-translate="georgian">ქართული</a></li>
                                <li><a data-value="1" class="translator" data-translate="european">ევროპული</a></li>
                                <li><a data-value="3" class="translator" data-translate="long_type">გრძელი</a></li>
                                <li><a data-value="5" class="translator" data-translate="khachapuri">ხაჭაპური</a></li>
                                <li><a data-value="4" class="translator" data-translate="hyper">ჰიპერი</a></li> 
                                <li><a data-value="6" class="translator" data-translate="eureka">ევრიკა</a></li>  
                                <li><a data-value="7" class="translator" data-translate="blitz">blitz</a></li>  
                            </ul>
                        </div>
                    </div>

                    <div class="cash_filters2">
                        <label class="translator" data-translate="speed">სიჩქარე</label>
                        <div class="cash_filt1 cash_filt2 dropdown">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <font id="filter-speed" data-value="0" class="translator" data-translate="all">ყველა</font>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu filter-speed">
                                <li><a data-value="0" class="translator" data-translate="all">ყველა</a></li>
                                <li><a data-value="1" class="translator" data-translate="fast">სწრაფი</a></li>
                                <li><a data-value="2" class="translator" data-translate="normal">ნორმალი</a></li>
                                <li><a data-value="3" class="translator" data-translate="slow">ნელი</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!--CXRILIS DASAWKISI-->
                <div class="game-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="tdsize-1">ID</th>
                                <th class="translator" data-translate="player">მოთამაშე</th>
                                <th class="tdsize-2 text-center translator" data-translate="rules">წესები</th>
                                <th class="tdsize-3  translator" data-translate="type">ტიპი</th>
                                <th class="tdsize-4  translator" data-translate="speed">სიჩქარე</th>
                                <th class="tdsize-6 translator" data-translate="doubles">წყვილი</th>
                                <th class="tdsize-5"><font class="translator" data-translate="bid">ფსონი</font> <font class='GEL'>b</font></th>
                                <th class="tdsize-6  translator" data-translate="points">ქულა</th>
                                <th class="tdsize-7">
                                    <i class="fa fa-asterisk"></i>
                                </th>
                                <th class="tdsize-8  translator" data-translate="play">ითამაშე</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="games_table_scroll1 game-container">
                    <div class="games_table_scroll2 scroller">
                        <table class="table">
                            <tbody id="room-container"></tbody>
                        </table>
                    </div>

                </div>
                <!--CXRILIS DASASRULI-->

            </div>

        </div>


        <div class="lobby_rightside">

            <div class="lb_balance">
                <h5 class="balance_title translator" data-translate="deposit">ბალანსი</h5>
                <h1 class="balance_cash yellowColor"><font id="user-balance"> </font> <font class='GEL'>b</font></h1>
                <h5 class="balance_title  translator" data-translate="coin">მონეტა</h5>
                <h3 class="balance_coins whiteColor" id="coin-balance"></h3>
                <div class="balance_button newitem">
                    <button class="btn btn-default" id="shop_button">
                        <span></span>
                        <font class="translator" data-translate="shop"> მაღაზია</font>
                    </button>
                    <i class="fa fa-circle yellowColor"></i>
                </div>
            </div>

            <div class="newtable">
                <button class="btn btn-primary btn-lg translator" data-translate="create_table">
                    მაგიდის შექმნა
                </button>
            </div>

            <div class="mytournirs_main">
                <div class="group-10 text-center translator" data-translate="active_tournaments">აქტიური ტურნირები</div>
                <div class="mytournirs1" id="my-tournament-rooms">



                </div>
            </div>

            <div class="history_buttons">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-default" id="history-button">
                            <i class="fa fa-bars"></i>
                            <font class="translator" data-translate="history">ისტორია</font>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-default rules_button">
                            <i class="fa fa-exclamation-circle"></i>
                            <font class="translator" data-translate="rules">წესები</font>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="pull-left">
            <div class="foottext1">
                <img src="~/Content/lobby/footicon1.png" alt="">
                <span class="translator" data-translate="online1">ონლაინში</span>
                <span class="yellowColor" id="players-count">1</span>
            </div>
            <div class="foottext1">
                <img src="~/Content/lobby/footicon2.png" alt="">
                <span class="translator" data-translate="active_table">აქტიური მაგიდა</span>
                <span class="yellowColor" id="games-count">1</span>
            </div>
        </div>

        <div class="pull-right">
            <font class="translator" data-translate="all_rights_reserved"> ყველა უფლება დაცულია </font> NARDI.GE &copy; 2018
        </div>

        <div class="clearfix"></div>
    </footer>



    <!-- Modal SHOP -->
    <div id="shopModal" class="modal fade" role="dialog">
        <div class="shop_modal_main">
            <div class="shop_modal1">
                <div class="shop_modal2">

                    <div class="shop_logo translator" data-translate="shop">მაღაზია</div>
                    <div class="shop_close"><a type="button" data-dismiss="modal">&nbsp;</a></div>

                    <div class="shop_filters">
                        <div class="shop_balance">
                            <span class="translator" data-translate="deposit">ბალანსი:</span>
                            <span class="yellowColor" id="coin-balance-popup">990</span>
                            <span class="whiteColor translator" data-translate="coin">მონეტა</span>
                        </div>
                        <div class="shop_history">
                            <button class="btn btn-default openHistoryModal">
                                <i class="fa fa-bars"></i>
                                <font class="translator" data-translate="history"> ისტორია </font>
                            </button>
                        </div>

                        <div class="shop_filt1 cash_filt1 dropdown open">
                            <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <font class="translator" data-translate="category" id="selected_category">კატეგორია </font>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" id="category-list"></ul>
                        </div>
                    </div>

                    <div class="shop_blocks1" id="shop-container">



                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal END-->
    <!-- Modal BUY ITEM -->
    <div id="buyItemModal" class="itemModal">
        <div class="itemModal_main">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeItemsModal"><i class="fa fa-times"></i></button>
                    <span class="whiteColor" id="buy-item-name">
                        Sony PlayStation 4
                    </span>
                </div>
                <div class="modal-body">

                    <div class="text-center redColor group-10 buy-item-result buy-item-error-text" style="display:none;">
                        <i class="fa fa-exclamation-circle"></i>
                        <font id="buy-item-error-text" class="translator" data-translate="not_enough_items">  სამწუხაროდ, აღნიშნული ნივთი მარაგში აღარ გვაქვს.</font>
                    </div>

                    <div class="text-center greenColor group-10 buy-item-result buy-item-success-text" style="display:none;">
                        <i class="fa fa-check-circle"></i>
                        <font id="buy-item-success-text" class="translator" data-translate="successful_purchase_text"> გილოცავთ! გადახდა განხორციელდა წარმატებით! </font>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="buy_item_image">
                                <img id="buy-popup-image" src="~/Content/lobby/shop_item1.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="buy_item_descr translator_panel" id="buy_description" data-translate="">
                                ნივთის მოკლე აღწერა იქნება აქ და მსგავსი მცირე ინფორმაცია სულ რაღაც ორი სტრიქონი
                            </div>
                            <div class="buy_item_quantity">
                                <div class="quantity_title translator" data-translate="quantity">რაოდენობა:</div>
                                <button class="btn" disabled>
                                    <i class="item_down buy-item-down"></i>
                                </button>
                                <input type="text" placeholder="" id="buy-product-count" class="form-control" value="1">
                                <button class="btn">
                                    <i class="item_up buy-item-up"></i>
                                </button>
                                <div class="quant_max">
                                    <font class="translator" data-translate="max">max</font> :
                                    <span class="yellowColor" id="buy-popup-quantity">6</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="buy-product-button">
                        <font class="translator" data-translate="buy"> ყიდვა</font>  - <font id="buy-price">25 000</font> <font class="translator" data-translate="coin"> მონეტა </font>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal END-->
    <!-- Modal HISTORY -->
    <div id="itemsHistoryModal" class="itemsHistoryModal">
        <div class="histModal_main">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeItemsModal"><i class="fa fa-times"></i></button>
                    <span class="whiteColor">
                        <font class="translator" data-translate="history">ყიდვის ისტორია</font>
                    </span>
                </div>
                <div class="modal-body">

                    <div class="shopping_hist1">
                        <table class="table hist_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="translator" data-translate="photo">ფოტო</th>
                                    <th class="translator" data-translate="name">დასახელება</th>
                                    <th class="translator" data-translate="price">ფასი</th>
                                    <th class="translator" data-translate="quantity">რაოდენობა</th>
                                    <th class="translator" data-translate="date">თარიღი</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="shopping_hist2 scroller">
                        <table class="table hist_table">
                            <tbody id="shop-history"></tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Modal END-->

    @Html.Partial("~/Views/Lobby/Partials/_newTableAskModal.cshtml")
    @Html.Partial("~/Views/Lobby/Partials/_newTableModal.cshtml")

    <div id="error-popup" class="error_modal">
        <div class="error_modal2">
            <span id="error-text">თქვენ ამოგიწყდათ ინტერნეტთან კავშირი</span>
        </div>
    </div>

</body>
</html>
