﻿@model Lobby.Models.MobileLobbyViewModel

@{
    ViewBag.Title = "MobileLobby";
    Layout = null;
    var token = (string)ViewBag.token;
}

<html>
<head>
    <title>Nardi.ge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/moblobby.css" rel="stylesheet" />

    @Styles.Render("~/style/mobilelobby")
    <script src="@(Url.Action("Translations", "Lobby"))?v=@DateTime.Now.Ticks" type="text/javascript"></script>
    @Scripts.Render("~/bundles/mobilelobby")

    <script>
        var signalRUrl = '@Model.SignalRUrl';
         var create_game_url = '@Model.CreateRoomUrl';
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111601260-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111601260-1');
    </script>

</head>
<body>
    <script>

	    var  lobby_url = '@Url.Action("Lobby", "Lobby")' + '?token=';
         var game_link = '@Url.Action("Backgammon", "Lobby")' + '?token=';
        var tournament_link = '@Url.Action("Tournament", "Lobby")' + '?token=';
        var history_link = '@Url.Action("History", "Lobby")' + '?token=';
    </script>

    <div class="blurbg" onclick='  $(".show_main_menu").trigger("click");' id="blurbg">&nbsp;</div>
    <div class="main_menu">

        <div class="menu_scroll">

            <ul class="big_menu">
                <li id="achievement_tab" class="menu_tabs">
                    <a class="translator" data-translate="missions">მისიები</a>
                </li>
            </ul>
            <ul class="small_menu">
                <li class="">
                    <a id="history-button" class="translator" data-translate="history">ისტორია</a>
                </li>
                <li class="">
                    <a class="translator rules_button_mobile" data-translate="rules">წესები</a>
                </li>
                <li class="">
                    <a class="translator logout_mobile" data-translate="logout">გასვლა</a>
                </li>
            </ul>

        </div>

    </div>


    <header>
        <div class="userdiv1">
            <div class="user_image">
                <span class="rank_star" id="user-rank">2</span>
            </div>
            <div class="user_nickname">
                <div class="nickname_size" id="user_nick">player</div>
                <button class="btn translator" data-translate="status_points" data-toggle="modal" data-target="#rankUpModal">სტატუსის მომატება</button>
            </div>
        </div>
        <div class="pull-right">
            <button class="newtable_btn newtable">&nbsp;</button>
            <button class="shop_btn" id="shop_button">&nbsp;</button>
            <button class="show_main_menu c-hamburger c-hamburger--htx">
                <span>&nbsp;</span>
            </button>
        </div>
    </header>

    <ul class="top_menu">
        <li id="game_tab" class="active">
            <a class="translator" data-translate="cash">ქეში</a>
        </li>
        <li id="tournament_tab" class="menu_tabs">
            <a class="translator" data-translate="tournaments">ტურნირები</a>
        </li>
    </ul>
    <!-- leave tournir Modal End -->
    <div id="TurnLeaveModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <span class="translator" data-translate="tournament_leave">ტურნირის დატოვება</span>
                </div>
                <div class="modal-body">
                    <div class="turnreg-text text-center">
                        <p>
                            <font class="translator" data-translate="tournament_unreg_text"> ნამდვილად გნებავთ რომ  დატოვოთ ტურნირი  </font> <br />
                            <font id="unreg-tournament-name" class="whiteColor"></font>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2 col-xs-6">
                            <div class="modafoot-buttons">
                                <button type="button" class="btn btn-primary btn-block unregister-modal translator" data-translate="accept">
                                    თანხმობა
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="modafoot-buttons">
                                <button type="button" id="close-unreg-modal" class="btn btn-danger btn-block translator" data-translate="cancel">
                                    გაუქმება
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- leave tournir Modal End -->
    <div id="error-popup" class="error_modal">
        <div class="error_modal2">
            <span id="error-text">თქვენ ამოგიწყდათ ინტერნეტთან კავშირი</span>
        </div>
    </div>
    <!-- ERROR Popup END -->


    <div id="system-error-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <span class="yellowColor translator" data-translate="attention">ყურადღება!</span>
                </div>
                <div class="modal-body">

                    <div class="text-center">
                        <div class="group-15 translate_title" id="error-modal-message"></div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- -->
    <div id="system-error" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <span class="yellowColor translator" data-translate="attention">ყურადღება!</span>
                </div>
                <div class="modal-body">

                    <div class="text-center">
                        <div class="group-15 redColor translate_title" id="create-room-reason"></div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="TurnRegModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <span tournament_register>ტურნირზე რეგისტრაცია</span>
                </div>
                <div class="modal-body">

                    <div class="turnreg-text text-center">

                        <p>
                            <font class="translator" data-translate="tournament_reg_text"> ნამდვილად გნებავთ რეგისტრაცია ტურნირზე </font> <br />
                            <font id="reg-tournament-name" class="whiteColor"></font>
                        </p>
                        <p class="whiteColor">
                            <font class="translator" data-translate="cash"> რეალური ფული</font>:
                            <span id="reg-popup-amount" class="yellowColor">3.00 </span>
                        </p>

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2 col-xs-6">
                            <div class="modafoot-buttons">
                                <button type="button" class="btn btn-primary btn-block register-modal translator" data-translate="accept">
                                    თანხმობა
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="modafoot-buttons">
                                <button type="button" id="close-reg-modal" class="btn btn-danger btn-block translator" data-translate="cancel">
                                    გაუქმება
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- register Modal End -->
    <!-- Modal END-->
    <!-- active tournir Modal End -->
    <div id="TournActiveModal" class="modal fade" role="dialog">
        <div class="modal-dialog acttournmod">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <span data-translate="tournament" class="translator">ტურნირი</span>
                </div>
                <div class="modal-body">
                    <div class="turnreg-text text-center">

                        <p>
                            <span data-translate="active_tournament_join" class="translator">	ყურადღება! თქვენი ტურნირი </span>
                            <br>
                            <span data-translate="active" class="translator">აქტიურია!</span>
                        </p>

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="modafoot-buttons">
                                <button type="button" class="btn btn-primary tournament-activate translator" data-translate="join">
                                    გადასვლა
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mainbody1 mainbody2">

        <table class="game-container table">
            <thead>
                <tr>
                    <th class="translator" data-translate="player">მოთამაშე</th>
                    <th class="text-center translator" data-translate="bid">ფსონი</th>
                    <th class="text-center translator" data-translate="point">ქულა</th>
                    <th class="text-right">
                        <a class="show_filter"><i class="fa fa-cog"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody id="room-container">
                <tr class="table_filter" id="mobile-row-filter">
                    <td colspan="4">
                        <div class="tb_filt_div1">
                            <div class="dropdown sel_dropd">
                                <button class="form-control select_drop dropdown-toggle" data-toggle="dropdown">
                                    <font id="bet-check-value"> 0.05</font>
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" id="bet-check">
                                    <li><a data-value="0.05">0.05</a></li>
                                    <li><a data-value="0.5">0.5</a></li>
                                    <li><a data-value="1">1</a></li>
                                    <li><a data-value="5">5</a></li>
                                    <li><a data-value="10">10</a></li>
                                    <li><a data-value="50">50</a></li>
                                    <li><a data-value="100">100</a></li>
                                    <li><a data-value="500">500</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="tb_filt_div1">
                            <div class="dropdown sel_dropd">
                                <button class="form-control select_drop dropdown-toggle" data-toggle="dropdown">
                                    <font id="bet-check-max-value">500</font>
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" id="bet-check-max">
                                    <li><a data-value="0.05">0.05</a></li>
                                    <li><a data-value="0.5">0.5</a></li>
                                    <li><a data-value="1">1</a></li>
                                    <li><a data-value="5">5</a></li>
                                    <li><a data-value="10">10</a></li>
                                    <li><a data-value="50">50</a></li>
                                    <li><a data-value="100">100</a></li>
                                    <li><a data-value="500">500</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="tb_filt_div2">
                            <div class="dropdown sel_dropd">
                                <button class="form-control select_drop dropdown-toggle translator1" data-translate="type" data-toggle="dropdown">
                                    <font id="filter-type" data-value="0" class="translator" data-translate="all">ყველა </font>
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu  filter-type">
                                    <li><a data-value="0" class="translator" data-translate="all">ყველა</a></li>
                                    <li><a data-value="2" class="translator" data-translate="georgian">ქართული</a></li>
                                    <li><a data-value="1" class="translator" data-translate="european">ევროპული</a></li>
                                    <li><a data-value="3" class="translator" data-translate="long_type">გრძელი</a></li>
                                    <li><a data-value="5" class="translator" data-translate="khachapuri">ხაჭაპური</a></li>
                                    <li><a data-value="4" class="translator" data-translate="hyper">ჰიპერი</a></li> 
                                    <li><a data-value="6" class="translator" data-translate="eureka">ევრიკა</a></li> 
                                    <li><a data-value="7" class="translator" data-translate="blitz">blitz</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="tb_filt_div2">
                            <div class="dropdown sel_dropd">
                                <button class="form-control select_drop dropdown-toggle" data-toggle="dropdown">
                                    <font id="filter-speed" data-value="0" class="translator" data-translate="all">ყველა </font>

                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu filter-speed">
                                    <li class="">
                                        <a class="translator" data-value="0" data-translate="all">ყველა</a>
                                    </li>
                                    <li class="">
                                        <a class="translator" data-value="3" data-translate="slow">ნელი</a>
                                    </li>
                                    <li class="">
                                        <a class="translator" data-value="2" data-translate="fast">სწრაფი</a>
                                    </li>
                                    <li class="">
                                        <a class="translator" data-value="1" data-translate="normal">ნორმალი</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </td>
                </tr>
            </tbody>
        </table>


        <table style="display:none" class="table tournament-container" id="tournament-container">
            <thead>
                <tr>
                    <th class="translator" data-translate="tournament_name">ტურნ. სახელი</th>
                    <th class="text-center translator" data-translate="prize">პრიზი</th>
                    <th class="text-center translator" data-translate="date">თარიღი</th>
                </tr>
            </thead>
            <tbody id="tournaments-table"></tbody>
        </table>

        <table id="achievement-table" class="table achievement-container" style="display:none">
            <tbody></tbody>
        </table>


        <table class="table game-history-container" style="display:none">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="text-center translator" data-translate="bid">ფსონი</th>
                    <th class="text-center  translator" data-translate="result">შედეგი</th>
                    <th class="text-right">
                        <a class="show_filter"><i class="fa fa-cog"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody id="game-history-container"></tbody>
        </table>
    </div>


    <div style="display:none;" class="mainbody1 detailspage" id="tournament_info_panel">

        <div class="details_maindiv">
            <div class="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#DetailsTab1">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#DetailsTab2">
                            <i class="fa fa-list-ol"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#DetailsTab3">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </li>
                </ul>
                <a class="close_details">
                    <font class="translator" data-translate="close">დახურვა</font>
                    <i class="fa fa-times"></i>
                </a>
            </div>

            <div class="tab-content">
                <div id="DetailsTab1" class="tab-pane fade in active">
                    <div class="dtl_wrapper">

                        <div class="tournament_info1">

                            <div class="tournament_info2 lrpadding">
                                <ul class="tournament_prizes">
                                    <li id="tour_prize_1">833.25 <font class='GEL'>b</font></li>
                                    <li id="tour_prize_0">1833.15 <font class='GEL'>b</font></li>
                                    <li id="tour_prize_2">330.30 <font class='GEL'>b</font></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="tournament_info2">
                                <div>
                                    <div class="trnm_info1 translator" data-translate="tournament_name">ტურნირის სახელი:</div>
                                    <div class="trnm_info2" id="tour_detail_name">All Star Final</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <div class="trnm_info1 translator" data-translate="start_date">დაწყების თარიღი:</div>
                                    <div class="trnm_info2" id="tour_detail_date">17.12.2017 00:00</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <div class="trnm_info1 translator" data-translate="tournament_version">ტურნირის ტიპი:</div>
                                    <div class="trnm_info2 translator" data-translate="georgian" id="tour_detail_type">ქართული</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <div class="trnm_info1"><font class="translator" data-translate="min_members">მინ. რაოდენობა</font>:</div>
                                    <div class="trnm_info2" id="tour_min_players_count">16</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <div class="trnm_info1 translator" data-translate="members">მონაწილეები:</div>
                                    <div class="trnm_info2" id="tour_detail_players_count">294 / 2048</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <div class="trnm_info1 translator" data-translate="prize">საპრიზო ფონდი:</div>
                                    <div class="trnm_info2">
                                        <span class="yellowColor" id="tour_detail_prize">5555 <font class='GEL'>b</font></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div>
                                <div style="display:none" class="timeleft_div">
                                    <div class="timeleft">
                                        <small class="translator" data-translate="remaining">დარჩენილია</small>
                                        <div class="yellowColor" id="active_tour_time_wait">
                                            0 დღე, 00:00:00
                                        </div>
                                    </div>
                                </div>
                                <div style="display:none" class="timelapsed_div disabled">
                                    <div class="timeleft">
                                        <small class="translator" data-translate="time_passed">გასული დრო</small>
                                        <div class="whiteColor" id="active_tour_time_passed">
                                            0 დღე, 00:00:00
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div>
                            <div class="players_schd_tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Full_schedule" class="translator" data-translate="full_list">ერთიანი სია</a></li>
                                    <li><a data-toggle="tab" href="#MyPosition" class="translator" data-translate="my_position">ჩემი პოზიცია</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">

                                <!--START OF FULL SCHEDULE-->
                                <div id="Full_schedule" class="tab-pane fade in active">
                                    <div class="group-20">
                                        <table class="table tourn_players_table">
                                            <thead>
                                                <tr>
                                                    <th>N</th>
                                                    <th class="translator" data-translate="player">მოთამაშე </th>
                                                    <th class="text-center translator" data-translate="winning">მოგება</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tournament_players_list"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--END OF FULL SCHEDULE-->
                                <!--START OF MY POSITION-->
                                <div id="MyPosition" class="tab-pane fade">
                                    <div class="group-20">
                                        <table class="table tourn_players_table">
                                            <thead>
                                                <tr>
                                                    <th>N</th>
                                                    <th class="translator" data-translate="player">მოთამაშე</th>
                                                    <th class="text-center translator" data-translate="winning">მოგება</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tournament_my_position"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--END OF MY POSITION-->

                            </div>
                        </div>

                    </div>
                </div>

                <div id="DetailsTab2" class="tab-pane fade">
                    <div class="dtl_wrapper">

                        <div class="group-20">
                            <table class="table tourn_structure_table">
                                <thead>
                                    <tr>
                                        <th class="translator" data-translate="position">პოზიცია</th>

                                        <th class="text-center translator" data-translate="prize">პრიზი</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="prize_list_structure"></tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div id="DetailsTab3" class="tab-pane fade">
                    <div class="dtl_wrapper">

                        <div class="tourn_timeline_tabs">
                            <ul class="nav nav-tabs">

                                <li id="draw_table_tournament" class="active">
                                    <a data-toggle="tab" href="#DrawTable">
                                        <i class="fa fa-sitemap"></i>
                                        draw
                                    </a>
                                </li>

                                <li id="list_table_tournament">
                                    <a data-toggle="tab" href="#ListTable">
                                        <i class="fa fa-list-ul"></i>
                                        <font class="translator" data-translate="list">სია </font>
                                    </a>
                                </li>

                                <li class="draw_arrows">
                                    <a class="moveListLeft"><i class="fa fa-chevron-left moveListLeft"></i></a>
                                    <a class="moveListRight"><i class="fa fa-chevron-right moveListRight"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">

                            <div id="DrawTable" class="tab-pane fade in active">

                                <div class="tourn_draw_div1">
                                    <div class="tourn_draw_div2">

                                        <div class="tourn_draw_div3">

                                            <ul class="tournament_draw" data-index=1 id="tournament_stairs"></ul>
                                            <div class="clearfix"></div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div id="ListTable" class="tab-pane fade">

                                <table class="table timeline_list_table">
                                    <thead>
                                        <tr>
                                            <th class="text-center translator" data-translate="round">რაუნდი</th>
                                            <th class="translator" data-translate="members">მოთამაშეები</th>
                                        </tr>
                                    </thead>
                                    <tbody id="matches_list"></tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>


    <footer>
        <div class="footer_div1">
            <span class="translator" data-translate="deposit">ბალანსი</span>
            <div class="foot_bal yellowColor">
                <span id="user-balance">00.00</span>
                <span><font class='GEL'>b</font></span>
            </div>
        </div>
        <div class="footer_div1 noborder">
            <span class="translator" data-translate="coin">მონეტა</span>
            <div class="foot_bal whiteColor">
                <span id="coin-balance">0</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </footer>



    <!-- Modal NEW TABLE -->


    <div id="system-error-mobile-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <span class="yellowColor translator" data-translate="attention">ყურადღება!</span>
                </div>
                <div class="modal-body">

                    <div class="text-center">
                        <div class="group-15 redColor translate_title" id="create-room-reason"></div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <!-- Modal system error -->
    <div id="system-error-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <span class="yellowColor translator" data-translate="attention">ყურადღება!</span>
                </div>
                <div class="modal-body">

                    <div class="text-center">
                        <div class="group-15 translate_title" id="error-modal-message"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Modal END-->
    <!-- Modal SHOP -->
    <div id="shopModal" class="modal fade" role="dialog">
        <div class="shop_modal_main">
            <div class="shop_modal1">
                <div class="shop_modal2">

                    <div class="shop_close"><a type="button" data-dismiss="modal">&nbsp;</a></div>

                    <div class="shop_balance">
                        <div class="translator" data-translate="deposit">ბალანსი:</div>
                        <span class="yellowColor" id="coin-balance-popup">0</span>
                        <span class="whiteColor translator" data-translate="coin">მონეტა</span>
                    </div>

                    <div class="shop_history">
                        <button class="btn btn-default openHistoryModal">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <div class="shop_filter_cats dropdown">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-sliders"></i>
                        </button>
                        <ul class="dropdown-menu" id="category-list"></ul>
                    </div>

                    <div class="shop_blocks1" id="shop-container">


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal END-->
    <!-- Modal BUY ITEM -->
    <div id="buyItemModal" class="itemModal">
        <div class="itemModal_main">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeItemsModal"><i class="fa fa-times"></i></button>
                    <span class="whiteColor" id="buy-item-name">
                        Sony PlayStation 4
                    </span>
                </div>
                <div class="modal-body">

                    <div class="text-center redColor group-10 buy-item-result buy-item-error-text" style="display:none;">
                        <i class="fa fa-exclamation-circle"></i>
                        <font id="buy-item-error-text" class="translator" data-translate="not_enough_items">  სამწუხაროდ, აღნიშნული ნივთი მარაგში აღარ გვაქვს.</font>
                    </div>

                    <div class="text-center greenColor group-10 buy-item-result buy-item-success-text" style="display:none;">
                        <i class="fa fa-check-circle"></i>
                        <font class="translator" data-translate="successful_purchase_text" id="buy-item-success-text"> გილოცავთ! გადახდა განხორციელდა წარმატებით! </font>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="buy_item_image">
                                <img id="buy-popup-image" src="~/Content/lobby/shop_item1.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="buy_item_descr" id="buy_description">

                            </div>
                            <div class="item_info_mob">
                                <div class="buy_item_quantity">
                                    <div class="quantity_title translator" data-translate="quantity">რაოდენობა:</div>
                                    <button class="btn" disabled>
                                        <i class="item_down buy-item-down"></i>
                                    </button>
                                    <input type="text" placeholder="" id="buy-product-count" class="form-control" value="1">
                                    <button class="btn">
                                        <i class="item_up buy-item-up"></i>
                                    </button>
                                    <div class="quant_max">
                                        <font class="translator" data-translate="max">მაქს</font>:
                                        <span class="yellowColor" id="buy-popup-quantity">6</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="buy-product-button">
                        <font class="translator" data-translate="buy"> ყიდვა</font> - <font id="buy-price">100</font> <font class="translator" data-translate="coin"> მონეტა </font>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal END-->
    <!-- ERROR Popup -->
    <div class="error_modal">
        <div class="error_modal2">
            <span>თქვენ ამოგიწყდათ ინტერნეტთან კავშირი</span>
        </div>
    </div>
    <!-- ERROR Popup END -->
    <!-- Modal Rank Up -->
    <div id="rankUpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <span class="translator" data-translate="status_points">სტატუსის მომატება</span>
                </div>
                <div class="modal-body">

                    <div class="text-center">

                        <ul class="rankup_main">

                            <li id="rank-1" class="rank_done">
                                <span class="rank_line"></span>
                                <div class="rankup_star">
                                    <span id="rank-count-1">1</span>
                                </div>
                            </li>

                            <li id="rank-2" class="rank_done">
                                <span class="rank_line"></span>
                                <div class="rankup_star">
                                    <span id="rank-count-2">2</span>
                                </div>
                            </li>

                            <li id="rank-3" class="rank_active">
                                <span class="rank_line"></span>
                                <div class="rankup_star">
                                    <span id="rank-count-3">3</span>
                                </div>
                            </li>

                            <li id="rank-4" class="">
                                <span class="rank_line"></span>
                                <div class="rankup_star">
                                    <span id="rank-count-4">4</span>
                                </div>
                            </li>

                            <li id="rank-5" class="">
                                <span class="rank_line"></span>
                                <div class="rankup_star">
                                    <span id="rank-count-5">5</span>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="modal-footer rankup_footer">
                    <button id="rank-button" type="button" class="btn btn-primary">
                        <font id="rank-button-text"> <font id="rank-increase-fee">100</font> <font class="translator" data-translate="coin">მონეტა </font>  </font>
                        <img src="/Content/img/icon_rankup.png" alt="">

                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal END-->
    <!-- Modal HISTORY -->
    <div id="itemsHistoryModal" class="itemsHistoryModal">
        <div class="histModal_main">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeItemsModal"><i class="fa fa-times"></i></button>
                    <span class="whiteColor">
                        ყიდვის ისტორია
                    </span>
                </div>
                <div class="modal-body">

                    <table class="table hist_table">
                        <tbody id="shop-history"></tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <!-- Modal END-->


    @Html.Partial("~/Views/Lobby/Partials/_newTableAskModal.cshtml")
    @Html.Partial("~/Views/Lobby/Partials/_newTableModal.cshtml")



</body>
</html>