﻿<!-- Modal NEW TABLE -->
<div id="newAskYesnoModal" class="modal fade newTableAskModal" role="dialog">
    <div class="modal-dialog newTb_size">

        <input type="hidden" class="id" />

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <span class="translator" data-translate="table_name">მაგიდის სახელი</span>
            </div>
            <div class="modal-body NewTablePopup">

                <div class="whiteColor group-10 text-center">
                    <font class="translator" data-translate="with_doubles_popup1">მაგიდაზე მოქმედებს წესი "წყვილების გარეშე" </font>
                    <br />
                    <font class="translator" data-translate="with_doubles_popup2">   თანახმა ხართ ითამაშოთ ამ წესით? </font>
                </div>

            </div>
            <div class="modal-footer NT_modal_footer">

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">

                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" data-translate="cancel"  class="btn btn-default btn-block translator" data-dismiss="modal">
                                    უარყოფა
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" data-translate="accept" class="btn btn-primary btn-block startDateAskModalBtn translator">
                                    თანხმობა
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Modal END-->
