﻿<!-- Modal NEW TABLE -->
<div id="newTableModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <input type="text" class="form-control" placeholder="0.00" autocomplete="off" name="" maxlength="5" max="4999" style="display: none">
        <input type="password" class="form-control" placeholder="0.00" autocomplete="off" name="" maxlength="5" max="4999" style="display: none">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <span class="translator" data-translate="create_table">მაგიდის შექმნა</span>
            </div>

            <div class="modal-body NewTablePopup">

                <div class="redColor group-10 table-error-msg translator"></div>

                <div class="row">

                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="text" id="table-name" readonly value="მაგიდის სახელი" class="form-control">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="dropdown game_dropdown">
                                <button class="btn dropdown-toggle" id="game-type" data-value="2" data-toggle="dropdown">
                                    <font id="game-type" data-value="2" class="translator" data-translate="georgian">ქართული</font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu gametype-dropdown">
                                    <li><a data-value="2" class="translator" data-translate="georgian">ქართული</a></li>
                                    <li><a data-value="1" class="translator" data-translate="european">ევროპული</a></li>
                                    <li><a data-value="3" class="translator" data-translate="long_type">გრძელი</a></li>
                                    <li><a data-value="5" class="translator" data-translate="khachapuri">ხაჭაპური</a></li>
                                    <li><a data-value="4" class="translator" data-translate="hyper">hyper</a></li> 
                                    <li><a data-value="6" class="translator" data-translate="eureka">ევრიკა</a></li>   
                                    <li><a data-value="7" class="translator" data-translate="blitz">blitz</a></li>   
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="dropdown game_dropdown">
                                <button class="btn dropdown-toggle point_dropdown_button" data-toggle="dropdown">
                                    <font class="translator" data-translate="till_pre">  </font>   <font id="points-value">1</font>  <font><font class="translator" data-translate="till_post">- მდე </font></font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu points-dropdown">
                                    <li><a>1</a></li>
                                    <li><a>2</a></li>
                                    <li><a>3</a></li>
                                    <li><a>5</a></li>
                                    <li><a>7</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="dropdown game_dropdown">

                                        <div class="btn dropdown-toggle" data-toggle="dropdown">
                                            <input class="dropd_input" id="min-bet" type="text" autocomplete="new-password" value="1.00 ₾">
                                            <i class="fa fa-angle-down"></i>
                                        </div>

                                        <!--      <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <font class="translator" data-translate="from_pre">  </font>   <font id="min-bet">1.00</font><font class='GEL'>b</font> <font> <font class="translator" data-translate="from_post">- დან  </font> </font>
                                            <i class="fa fa-angle-down"></i>
                                        </button> -->
                                        <ul class="dropdown-menu minbet-dropdown">
                                            <li><a>0.05</a></li>
                                            <li><a>0.50</a></li>
                                            <li><a>1.00</a></li>
                                            <li><a>2.00</a></li>
                                            <li><a>5.00</a></li>
                                            <li><a>10.00</a></li>
                                            <li><a>20.00</a></li>
                                            <li><a>50.00</a></li>
                                            <li><a>100.00</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="dropdown game_dropdown">
                                        <button class="btn dropdown-toggle maxbet_dropdown_button" data-toggle="dropdown">
                                            <font class="translator" data-translate="till_pre">  </font>  <font data-multiply="1" id="max-bet">1.00</font> ₾ <font><font class="translator" data-translate="till_post">- მდე  </font> </font>
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu maxbet-dropdown">
                                            <li class="georgian-maxbet"><a><font class="multiplier" data-multiply="1">1.00</font> <font class="amountnum">x1</font></a></li>
                                            <li class="georgian-maxbet"><a><font class="multiplier" data-multiply="2">2.00</font> <font class="amountnum" data-translate="davi">x2</font></a></li>
                                            <li class="georgian-maxbet"><a><font class="multiplier" data-multiply="3">3.00</font> <font class="amountnum" data-translate="se">x3</font></a></li>
                                            <li class="georgian-maxbet"><a><font class="multiplier" data-multiply="4">4.00</font> <font class="amountnum" data-translate="chari">x4</font></a></li>
                                            <li class="georgian-maxbet"><a><font class="multiplier" data-multiply="5">5.00</font> <font class="amountnum" data-translate="fanji">x5</font></a></li>
                                            <li class="georgian-maxbet"><a><font class="multiplier" data-multiply="6">6.00</font> <font class="amountnum" data-translate="shashi">x6</font></a></li>

                                            <li class="european-maxbet"><a><font class="multiplier" data-multiply="1">1.00</font> <font class="amountnum">x1</font></a></li>
                                            <li class="european-maxbet"><a><font class="multiplier" data-multiply="2">2.00</font> <font class="amountnum">x2</font></a></li>
                                            <li class="european-maxbet"><a><font class="multiplier" data-multiply="4">4.00</font> <font class="amountnum">x4</font></a></li>
                                            <li class="european-maxbet"><a><font class="multiplier" data-multiply="8">8.00</font> <font class="amountnum">x8</font></a></li>
                                            <li class="european-maxbet"><a><font class="multiplier" data-multiply="16">16.00</font> <font class="amountnum">x16</font></a></li>
                                            <li class="european-maxbet"><a><font class="multiplier" data-multiply="32">32.00</font> <font class="amountnum">x32</font></a></li>
                                            <li class="european-maxbet"><a><font class="multiplier" data-multiply="64">64.00</font> <font class="amountnum">x64</font></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="dropdown game_dropdown">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <font id="speed-select" data-value="1" class="translator" data-translate="fast">სწრაფი</font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu speed-dropdown">
                                    <li><a data-value="1" class="translator" data-translate="fast">სწრაფი</a></li>
                                    <li><a data-value="2" class="translator" data-translate="normal">ნორმალი</a></li>
                                    <li><a data-value="3" class="translator" data-translate="slow">ნელი</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="dropdown game_dropdown">
                                <button disabled class="btn show_rules_dropdown">
                                    <font class="translator" data-translate="rules"> წესები</font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu rules-dropdown">
                                    <li class="dropd_checks davi-check">
                                        <label>
                                            <input id="davi-check" type="checkbox" checked>
                                            Double
                                        </label>
                                    </li>
                                    <li class="dropd_checks crawford-check">
                                        <label>
                                            <input id="crawford-check" type="checkbox">
                                            Crawford
                                        </label>
                                    </li>
                                    <li class="dropd_checks beaver-check">
                                        <label>
                                            <input id="beaver-check" type="checkbox">
                                            Beaver
                                        </label>
                                    </li>
                                    <li class="dropd_checks jacob-check">
                                        <label>
                                            <input id="jacob-check" type="checkbox">
                                            Jacob
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    @**@

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="dropdown game_dropdown">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <font data-value="true" id="doubles-select" class="translator" data-translate="yesdoubles">წყვილებით</font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu doubles-dropdown">
                                    <li><a data-value="true" class="translator" data-translate="yesdoubles">წყვილებით</a></li>
                                    <li><a data-value="false" class="translator" data-translate="nodoubles">წყვილების გარეშე</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="dropdown game_dropdown">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <font data-value="1" id="password-select" class="translator" data-translate="nopassword">პაროლის გარეშე</font>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu password-dropdown">
                                    <li><a data-value="1" class="translator" data-translate="nopassword">პაროლის გარეშე</a></li>
                                    <li><a data-value="2" class="translator" data-translate="haspassword">პაროლიანი</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 passwordContainer" style="display:none;">
                        <input type="password" id="table-psw" placeholder="პაროლი" class="form-control">
                    </div>

                </div>

            </div>
            <div class="modal-footer NT_modal_footer">

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="button" onclick="createtable()" id="create-button" class="btn btn-primary translator" data-translate="create_table">
                            მაგიდის შექმნა
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- Modal END-->